.about {
    padding-bottom: 94px;
}

.about-list {
    display: flex;
}

.about-list-item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.about-list-text-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.about-list-item-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}